<div class="bg-light" style="height: 100vh;">
  <div class="row pt-5 m-0">
    <div class="col-md-4 col-12" style="margin:0 auto;">
    <form class="bg-white p-5 mt-5" style="border-radius:5px;">
      <h1> Blog App </h1>
      <hr>
      <br />
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" > 
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" > 
      </div>

      <a routerLink="/register"> Create new account</a>

      <div class="mt-4">
      <button type="submit" class="btn btn-primary w-100">Login</button>
      </div>
    </form>
  </div>
</div>
